/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
ul, ol, li{
    list-style: none;
}
/* FIM RESET */

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-inline: 80px;
}
header{
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 96px;
    width: 96px;
    background-color: lightgrey;
}
.menu ul{
    display: flex;
    gap: 32px;
    font-size: 32px;
}
main{
    flex-grow: 1;
    background-color: pink;
}
footer{
    height: 100px;
    background-color: aquamarine;
}