/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
ul, ol, li{
    list-style: none;
}
/* FIM RESET */

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
header{
    height: 200px;
    background-color: aqua;
}
main{
    flex-grow: 1;
    background-color: pink;
}
footer{
    height: 100px;
    background-color: aquamarine;
}